.container {
    width: 100%;
    height: 100%;
}
/* resize images */
 img.stop{
    width: : 80%;
    height: : auto;
}

#header{
 background-color: #bf0e0e;
 color: white;
}
 #header h1{
  text-align: center;
 }

 p{
  font-size: 20px;
 }





